<% layout('layouts/boilerplate') %>
    <div class="row mt-3">
        <div class="col-8 offset-3 ">
            <h3>
                <%= listing.title %>
            </h3>
        </div>
        <div class="card offset-3 show-card col-6 listing-card">
            <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="listing-image">
            <div class="card-body">
                <p class="card-text">
                    <i>Owned by - <%= listing.owner ? listing.owner.username : "Unknown" %></i>
                </p>
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text"> &#8377; <%= listing.price.toLocaleString("en-IN") %> /night </p>
                <p class="card-text">
                    <%= listing.location %>
                </p>
                <p class="card-text">
                    <%= listing.country %>
                </p>
            </div>
        </div>
        <% if(currUser && listing.owner._id.equals(currUser._id)) { %>

            <br>
            <div class="btns gap-2 mt-2">
                <a href="/listings/<%= listing._id%>/edit"
                    class="btn btn-dark  w-22 text-center  col-1 offset-3 edit-btn">Edit</a>
                <br>
                <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST"
                    onsubmit="return confirm('Are you sure you want to delete this listing?');">
                    <button class="btn btn-dark w25  offset-5">Delete</button>
                </form>
            </div>
            <% } %>

                <!-- creatting a review -->
                <div class="col-8 offset-3">
                    <hr />
                    <% if (currUser) { %>
                        <h4>Leave a Review</h4>
                        <form class="mb-3 needs-validation" action="/listings/<%= listing._id %>/reviews" method="POST"
                            novalidate>
                            <!-- Rating Input -->
                            <div class="mb-3 mt-3">
                                <label for="rating" class="form-label">Rating: <span id="ratingValue">3</span></label>
                                <input type="range" class="form-range" min="1" max="5" value="3" id="rating"
                                    name="review[rating]" required>
                                <div class="invalid-feedback">Please select a rating.</div>
                            </div>


                            <fieldset class="starability-slot">
                                <legend>First rating:</legend>
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                                    aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>


                            <!-- Comment Input -->
                            <div class="mb-3 mt-3">
                                <label for="comment" class="form-label">Comments</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                                    required></textarea>
                                <div class="invalid-feedback">Please add some comments for the review.</div>
                            </div>

                            <!-- Submit Button -->
                            <button class="btn btn-outline-danger" type="submit">Submit</button>
                        </form>
                        <% }%>

                            <p><b>All Reviews</b></p>
                            <div class="row">
                                <% for(review of listing.reviews) {%>
                                    <div class="card col-5 ms-3 mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">@<%= review.author.username %>
                                            </h5>
                                            <p class="card-text">
                                                <%= review.comment %>
                                            </p>
                                            <p class="card-text">
                                                <%= review.rating %> stars
                                            </p>
                                        </div>
                                        <form method="POST" class="mb-3"
                                            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                            <button class="btn  btn-sm btn-dark">Delete</button>
                                        </form>
                                    </div>
                                    <% } %>
                            </div>
                </div>
    </div>
    <br>